.message {
    background-color: #D0BBE6;
    border-radius: 40px; /* TODO: Change me*/
    min-width: fit-content;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
}

.message p {
    font-size: .8rem;
    color: black;
    
}

.purple {
    background-color: #D0BBE6;
    align-self: flex-end;
} 

.pink {
    background-color: #EFB1A7;
    align-self: flex-start;
}
.time_label {
    font-size: .45rem;
    color: black;
    
}