.purple_button {
    background-color: #6F4698;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 0%;
    margin-top: 1rem;   
    width: 100%;
    height: 2em;
    font-size: 3vh;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.edit_profile {
    border-radius: 50% !important;
    background-color: #E5E5E5 !important;
    color: #6F4698 !important;
    padding: 1em !important;
    width: 2em !important;
    height: 2em !important;
    
}

.white_button {
    color: black;
    background-color: white;
    text-align: center;
    border: none;
    border-radius: 0%;
    margin-top: 1em;   
    width: 100%;
    height: 2em;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.red_button {
    background-color: #DE1F1F;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 0%;
    margin-top: 1em;   
    width: 100%;
    height: 2em;
    font-size: 3vh;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right {
    width: fit-content;
    padding-left: 3em;
    padding-right: 3em;
    font-size: unset;
}

