* {
    box-sizing: border-box
} 
.content {
    width: 30vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.nav {
    justify-content: flex-end;
    display: flex;
}

.left_pane {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    /* position: relative; */
    width: 29%;
    /* height: 100%; */
    background-color: #E5E5E5;
    float: left;
    padding-left: 1%;
    overflow-y: scroll;
    height: 100vh;
}

.right_pane {
    width: 69%;
    /* height:100%; */
    float: right;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    height: 100vh;
    overflow: scroll;
}

.sig {
    /* width: 30%; */
    float: right;
}
.chat_list {
    cursor: pointer;
    background-color: inherit;
    border: none;
    border-width: 0px;
    color: black;
    text-align: left;
    display: flex;
    /* TODO: GEt button to size to container */
}
.nam {
    width: 55%;
    float: left;
}

.mess_bar {
    height: 5%;
    position: fixed;
    bottom: 5%;
    padding-left: 2.5%;
    width: 100%;
    
}

.messages {
    width: 100%;
    overflow-y: scroll;
}

@media (max-width: 480px){
    .content{
        width: 90vw;
        margin: auto;
    }
}
@media (max-width: 768px){
    .content{
        width: 80vw;
        margin: auto;
    }
}
@media (max-width: 1024px){
    .content{
        width: 60vw;
        margin: auto;
    }
}

