.cont{
    position: sticky;
    top: 0;
}

.icon_message {
    width: 1.5em;
    float: right;
    margin-top: 1.25em;
    cursor: pointer;
    margin-right: 1em;
}

.titl {
    width: 80%;
    float: left;
}