
.content {
    width: 30vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav {
    justify-content: flex-end;
    display: flex;
}

@media (max-width: 480px){
    .content{
        width: 90vw;
        margin: auto;
    }
}
@media (max-width: 768px){
    .content{
        width: 80vw;
        margin: auto;
    }
}
@media (max-width: 1024px){
    .content{
        width: 60vw;
        margin: auto;
    }
}

.logo_style {
    scale: 85%;
    margin-bottom: 0em;
    display: flex;
    align-self: center;
    margin-top:-20vh;

}