td{
    vertical-align: baseline;
}

.content {
    width: 60vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.in_table { 
    margin-top: 0em;
    margin-left: 1em;
    
}
.nav {
    justify-content: flex-end;
    display: flex;
}

@media (max-width: 480px){
    .content{
        width: 90vw;
        margin: auto;
    }
}
@media (max-width: 768px){
    .content{
        width: 80vw;
        margin: auto;
    }
}
@media (max-width: 1024px){
    .content{
        width: 60vw;
        margin: auto;
    }
}

